body {
	margin:0;
	font-family:Arial;
	overflow-x:hidden;
	width:100%;
	min-height:100%;
	padding-bottom:420px;
}

html {
	height:100%;
}
 
/*this is the nav bar section. */
/*this styles the text on the left side of the nav bar. it floats left
has a yellow color, font size 12px, and 10px from left and 25px from 
top*/

.left { /*this floats the nycda image to the left*/
	float:left;
	position:relative;
	top:20px;
	left:10px;
}
.menu-left { /*this floats the set default location to the left*/
	float:left;
	color:#FFCB04;
	font-size:12px;
	margin-left:10px;
	margin-top:35px;
}

/*this styles the nav bar at the top of the screen. */
nav {
	background-color:#1A1919;
	width:100%;
	height:70px;
	margin-top:-12px;
	position:fixed; /*this fixes the nav bar to top of screen*/
	z-index:9999;
}

/*this makes the menu bar elements float right and is 10px from top*/
ul {
	margin:0;
	padding:0;
	list-style-type:none;
	float:right; /*this makes the menu move to right*/ 
	margin-top:10px;
}

li {
	display:inline-block;
	font-family:Arial;
	font-size:14px;
	padding:20px;
}

a:link {
	text-decoration:none;
	color:#fefefe;
}

a:visited {
	color:#fefefe;
}

a:hover {
	color:#FFCB04;
}


.button { /*this makes the student login button */
	border:1px solid #fefefe;
	padding:15px;
	text-transform:uppercase;
	font-weight:700;
}

.button:hover {
	color:black;
	background-color:#fefefe;
	transition-duration:0.6s;
}

/*this is the first header post on the blog*/

.featured {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/676/big/SetApart.jpg?1518812490);
	background-size:cover;
	width:100%;
	height:500px;
	z-index:-1;
}

.layer { /*this provides the black overlay over the image*/
	background-color:rgba(0,0,0,0.3);
	width:100%;
	height:500px;
	z-index:1;
}

.first { /*this is the first post*/ 
	position:relative;
	top:230px;
	left:50px;
	width:60%;
}
.first h1 {

	color:#ffcb04;
	margin-bottom:0.5rem;
	font-size:18px;
	letter-spacing:1px;
	line-height:20px;
}

.first h2 {
	text-transform:uppercase;
	font-size:2.5rem;
	line-height:1;
}

.first h2 a:hover {
	transition: ease 0.7s;
}

.first p {
	color:#fefefe;
	line-height:1.4;
}

.readmore a { /*this is the read more link */
	color:#ffcb04;
}

.search { /*this is the search input*/ 
	position:relative;
	top:100px;
	left:50px;
}

.search-button { /*this is the search submit button*/
	position:absolute;
	top:0px;
	left:290px;
	width:50px;
	height:35px;
	background-color:#ffcb04;
	outline:none;
}

.search-button:hover { /*this creates a black color with transition for the button*/
	background-color:#1A1919;
	transition: ease 0.7s;
}
.search input { /*this creates a transparent color for input box*/
	opacity:0.5;
	height:30px;
}
/*This is the code for the posts*/
.container {
	background-color:#f7f7f7;
	width:350px;
	height:450px;
	margin-left:60px;
	margin-top:50px;
	position:relative;
	float:left;
	/*margin:0 auto;
	display:table;*/

}
.post1 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/675/small/rochelle-nicole-84911.jpg?1516998978);
	background-size:cover;
	width:350px;
	height:200px;

}

.post2 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/674/small/andrew-neel-137513.jpg?1516221975);
	background-size:cover;
	width:350px;
	height:200px;
	
}

.post3 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/673/small/heidi-sandstrom-466619_%281%29.jpg?1515619624);
	background-size:cover;
	width:350px;
	height:200px;
}

.post4{
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/672/small/freelancer-above-in-apartment.jpg?1513795703);
	background-size:cover;
	width:350px;
	height:200px;

}

.post5 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/671/small/rawpixel-com-250087.jpg?1513367241);
	background-size:cover;
	width:350px;
	height:200px;
}

.post6 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/670/small/ManComputerFrontOn.jpeg?1512775787);
	background-size:cover;
	width:350px;
	height:200px;
}

.post7 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/668/small/alexandra-kirr-322679.jpg?1512669845);
	background-size:cover;
	width:350px;
	height:200px;
}

.post8 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/667/small/veri-ivanova-17904.jpg?1512155235);
	background-size:cover;
	width:350px;
	height:200px;
}

.post9 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/665/small/marion-michele-191320.jpg?1511907346);
	background-size:cover;
	width:350px;
	height:200px;
}

.post10 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/664/small/tim-gouw-69753.jpg?1511371858);
	background-size:cover;
	width:350px;
	height:200px;
}

.post11 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/663/small/briefcase-walk.jpg?1507753474);
	background-size:cover;
	width:350px;
	height:200px;
}

.post12 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/662/small/90spattern.jpg?1506011194);
	background-size:cover;
	width:350px;
	height:200px;
}

.post13 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/660/small/hobermanlsc.jpg?1503497851);
	background-size:cover;
	width:350px;
	height:200px;
}

.post14 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/659/small/isa-icons-li3.png?1502836448);
	background-size:cover;
	width:350px;
	height:200px;
}

.post15 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/658/small/AdobeStock_66227463.jpg?1500562034);
	background-size:cover;
	width:350px;
	height:200px;
}

.post16 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/657/small/AdobeStock_104806545__Converted_.png?1500562883);
	background-size:cover;
	width:350px;
	height:200px;
}

.post17 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/656/small/DSC_4590-web_%281%29.jpg?1500652439);
	background-size:cover;
	width:350px;
	height:200px;
}

.post18 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/655/small/Commodore-VIC-20-FL.jpg?1500047429);
	background-size:cover;
	width:350px;
	height:200px;
}

.post19 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/654/small/AdobeStock_82171469.jpeg?1500047809);
	background-size:cover;
	width:350px;
	height:200px;
}

.post20 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/653/small/hobermanlsc.jpg?1499444863);
	background-size:cover;
	width:350px;
	height:200px;
}

.post21 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/652/small/AdobeStock_2198749.jpeg?1499444993);
	background-size:cover;
	width:350px;
	height:200px;
}

.post22 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/651/small/pulling-hair-2k-AdobeStock_45925711.jpg?1499272419);
	background-size:cover;
	width:350px;
	height:200px;
}

.post23 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/650/small/AdobeStock_64556455.jpeg?1499191611);
	background-size:cover;
	width:350px;
	height:200px;
}

.post24 {
	background-image:url(https://s3-us-west-2.amazonaws.com/nycda-assets/posts/hero_images/000/008/649/small/AdobeStock_111131213__Converted_.png?1498835164);
	background-size:cover;
	width:350px;
	height:200px;
}

.date { /*this styles the date*/
	margin-left:10px;
	position:relative;
	top:10px;
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
}
.author { /*this styles the author*/
	text-align:right;
	margin-top:-16px;
	margin-right:5px;
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
}

.title { /*this styles the title*/
	margin-left:10px;
}
.para { /*this styles the paragraph*/
	margin-left:10px;
	margin-right:5px;
	line-height:1.4;
	font-size:14px;

}

.readmore2 { /*this styles the readmore*/ 
	font-weight:700;
	font-size:12px;
}

/*.center{
	margin:0 auto;
	display:table;
}*/

.pagination { /*styles the page numbers */
	position:relative;
	top:100px;
	right:400px;
	text-align:center;
	max-width:1300px;
	margin:0 auto;
}

.pagination ul {
	text-align:center;
}

.pagination li {
	display:inline-block;
	margin-left:-20px;
	padding:20px;
}

.pagination li:hover{
	background-color:#eeeeee;
	color:#ffcb04;
}

.pagination li:hover a{ /*changes color of link when li is hovered over, not just when text is hovered over*/
	color:#ffcb04;
}

.pagination li a {
	color:black;
}

#highlite { /*creates yellow color to page 1*/
	background-color:#ffcb04;
	width:10px;
	padding:10px;
	/*height:10px;*/
	color:#fefefe;
	position:relative;
	right:10px;
}

/*this styles the footer */
.footer {
	background-color:#1A1919;
	width:100%;
	height:450px;
	/*position:relative;
	top:4200px;*/
	position:absolute;
	bottom:0;

}

.footer-menu {
	position:absolute;
	top:20px;
	left:50px;
	/*color:white;*/

}
.footer-menu ul {
	list-style-type: none;
}

.footer-menu li {
	display:block;
	margin-bottom:-10px;
	text-transform:uppercase;
	font-weight:700;
}

.footer-menu li a:visited {
	color:#fefefe;
}
.footer-menu li a:hover {
	color:#ffcb04;
}

.footer-img {
	position:absolute;
	top:300px;
	left:-10px;
}

.social-media {
	position:absolute;
	left:250px;
	top:40px;
	color:white;
	border-left: 1px solid #2D2C2C;
}
.social-media ul {
	list-style-type:none;
}

.social-media li {
	display:block;
	margin-top:-20px;
}

.social-media li a:hover{
	color:#ffcb04;
}

.footer-content { /*the address*/
	color:white;
	position:absolute;
	left:500px;
	top:35px;
	font-size:12px;
	line-height:1;
	border-left: 1px solid #2D2C2C;
	padding-left:10px;
}

.signup {
	font-size:25px;
	color:white;
	position:absolute;
	top:30px;
	left:800px;
}

.signup input {
	font-size:18px;
	height:40px;
	outline:none;
}

.submit {
	width:329px;
	height:40px;
	background-color:#ffcb04;
	color:#1A1919;
	outline:none;
	border:none;
	font-weight:700;
	position:absolute;
	top:150px;
}
.submit:hover{
	background-color:#1A1919;
	color:#fefefe;
}

.center{
	width:1300px;
	margin: 0 auto;
}